<form role="form" class="form">
  <div class="form-group">
    <label for="postTitle">Post Title</label>
    <input class="form-control"
           id="postTitle"
           ng-model="post.title"
           placeholder="Enter post title/subject"
           />
  </div>
  <div class="form-group">
    <label for="postContent">Share Your Thoughts</label>
    <textarea id="postContent"
              data-ui-tinymce="tinymceOptions"
              data-ng-model="post.content"
              ></textarea>
  </div>

  <div class="form-group">
    <label for="postExcerpt">Update Your Excerpt</label>
    <textarea id="postExcerpt" class="form-control"
              data-ng-model="post.excerpt"
              style="resize:vertical;"
              rows="4"
              placeholder="Enter a quick summary that appears in post lists."
              ></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" ng-click="createPost()">Publish</button>
    <button class="btn btn-default" ng-click="refreshWidgets()">Magicality</button>
  </div>
</form>

<div class="row post">
  <div class="col-sm-12">
    <div class="title" ng-bind-html="post.title"></div>
    <div class="content">
      <blockquote ng-bind-html="post.excerpt"></blockquote>
    </div>
    <div class="content" ng-bind-html="post.content"></div>
    <h3>Comments</h3>
    <div ng-switch on="post.comments.length">
      <div ng-switch-when="0">
        <p>No comments, yet. Share your thoughts and start the conversation.</p>
      </div>
      <div ng-switch-default="">
        <div class="row comment" ng-repeat="comment in post.comments">
          <div class="header">
            <div class="col-sm-8 author">{{comment.author}}</div>
            <div class="col-sm-4 posted">{{comment.posted}}</div>
            <div class="clearfix"></div>
          </div>
          <div class="content col-sm-12">{{comment.content}}</div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
