<div class="row-fluid content-section">
  <div class="col-sm-12">

    <h2><img src="favicon.ico" /> Who Built Pulsar?</h2>
    <div class="credits">
      <div class="name">
        <strong>Rob Colbert</strong><br />
        <small>creator</small>
      </div>
      <div class="links">
        &lt;<a href="mailto:rob.isConnected@gmail.com">rob.isConnected@gmail.com</a>&gt;<br />
        <a href="http://www.linkedin.com/in/robcolbert">http://www.linkedin.com/in/robcolbert</a>
      </div>
      <div class="clearfix"></div>
      <p>
        A computer programmer (Rob, me) snapped the fuck out one day. After two straight
        decades in computer software, I decided to strangle and bury my permanent,
        full-time corporate experience. Because, after more than a <strong>decade</strong>
        of fighting with various IT assholes over this &amp; that at various companies, I
        finally asked, "Why is this always a fight? Am <em>I</em> perhaps the one who is
        flawed in my pursuit of progress?" And, with that in mind, I set off on a
        journey to fucking find out. And, Pulsar <em>is</em> that journey. That's all it
        is. I have questions to answer for myself while giving no fucks.
      </p>
      <p>
        Because, as far as I could see from my desk in application developer land, it
        was no longer worth trying to succeed. Here I am bending over backwards to keep
        myself current for all these years while raising a family, <em>burying</em> a
        son, working way too God-damned much overtime due to bad decisions and worse
        technology... and... for what? A never-ending fight with a bunch of
        <strong>assholes</strong>? Yes, motherfuckers: I fucking <strong>hate</strong>
        you and the experiences you share.
      </p>
      <p>
        So, until I figure out what the fuck I'm going to actually be doing next and where
        that might be located or involve, I'm not interested in whatever you're saying. And,
        that's because I'm too fucking busy right here making all this progress while trying
        to independently pay my rent and bills, motherfucker.
      </p>
      <p>
        I can hunt. I'm not gonna starve. And, I am fucking doing it this way because
        motherfuck an investor. If I'm right, I'll fucking <em>own</em> this. You had your
        fucking chances. I've gone a very nonviolent form of postal. Fuck you and everything
        you are.
      </p>
      <p>
        Best regards,<br />
        -Rob
      </p>
    </div>

    <h2><img src="favicon.ico" /> Project Goals</h2>
    <p>
      Ship Pulsar Studio.
    </p>

    <h2><img src="favicon.ico" /> Adoption Goals</h2>
    <p>
      None. Use it if you want to. It's subject to change, quite early and might break if
      you use it in a way I couldn't predict.
    </p>

  </div>
  <div class="clearfix"></div>
</div>
