<div class="row-fluid content-section">
  <div class="col-sm-12">

    <h2><img src="favicon.ico" /> Who Built Pulsar and Why?</h2>
    <div class="credits">
      <div class="name">
        <strong>Rob Colbert</strong><br />
        <small>creator</small>
      </div>
      <div class="links">
        &lt;<a href="mailto:rob.isConnected@gmail.com">rob.isConnected@gmail.com</a>&gt;<br />
        <a href="http://www.linkedin.com/in/robcolbert">http://www.linkedin.com/in/robcolbert</a>
      </div>
      <div class="clearfix"></div>
      <p>
        A computer programmer (Rob Colbert, me) snapped the fuck out one day. After two
        straight decades in computer software, I decided to shoot and bury my permanent,
        full-time corporate experience. Because, after more than a <strong>decade</strong>
        of fighting with various IT assholes over this &amp; that at various companies, I
        finally asked, "Why is this always a fight? Am I perhaps the one who is
        flawed in my pursuit of progress?"
      </p>
      <p>
        So, with this new mantra in mind, I set off on a journey to find out. Pulsar
        <em>is</em> that journey. That's all it is. I have questions to answer for myself
        while giving no fucks.
      </p>
      <p>
        Because, as far as I could see from my desk in application developer land, it
        was no longer worth trying to succeed. There I was...bending over backwards to
        keep myself current for all these years...while raising a family, burying a son,
        working way too God-damned much overtime due to people's horrible decisions and
        even worse technology... and... for what? A never-ending fight with a bunch of
        assholes when it comes time to make improvements?
      </p>
      <p>
        Fuuuuuuuuuuuck you. I fucking <strong>hate</strong> you and the experiences you
        put me through. And, I am going to keep shredding and burning this career until
        I find my way down, up or sideways to a place where workable technology can be
        used to solve interesting or fun problems while creating compelling online
        experiences. That's all I want to do.
      </p>
      <p>
        Until then, I can hunt. I'm not gonna starve. So, yeah...if you're one of the
        fuckers who's stood in my way along my past paths: Fuck you. If you hate me,
        it's only because I fucking left you in yesterday where you chose to stay.
        YOU chose that, not me. So...
      </p>
      <p>
        Best regards,<br />
        -Rob
      </p>
    </div>

    <h2><img src="favicon.ico" /> Project Goals</h2>
    <p>
      Ship Pulsar Studio while smacking "IT Professionals" in the backs of their heads
      <strong>with their own words</strong> about how this shouldn't be working or
      should be crashing and burning by now.
    </p>

    <h2><img src="favicon.ico" /> Adoption Goals</h2>
    <p>
      None. Use it if you want to. It's subject to change, quite early and might break if
      you use it in a way I couldn't predict.
    </p>

  </div>
  <div class="clearfix"></div>
</div>
