<p><span>Where Is Your Congressperson</span> aims to provide the most real-time information about what United States congresspeople are doing. This is accomplished by collecting and cataloging every known recording of an active congressperson, then making it availble to as many people as possible using the power of the web.</p>

<p>You may choose to think of it as the next step in citizen-journalism: a completely free and powerful collaborative news gathering software system that is aimed directly at those whom we have granted Power:</p>

<ul>
    <li ng-repeat="power in congressPowers">{{power}}</li>
</ul>