<div class="row">
  <div class="col-sm-12">
    <h3>Getting In Touch</h3>
    <p>
      I'm happily employed. That is why my resume isn't right here for your
      immediate review. But, if you'd like to just reach out &amp; say hello
      for old time's sake or something, this is how to get in touch:
    </p>
    <p>
      <addr>
        <strong>Rob Colbert</strong><br />
        <a href="mailto:rob.isConnected@gmail.com">rob.isConnected@gmail.com</a><br />
        <a href="#/">http://robcolbert.com/</a>
      </addr>
    </p>
  </div>
  <div class="clearfix"></div>
</div>
