<div class="row">
  <div class="col-sm-12">
    <h3>Getting In Touch</h3>
    <p>
      <addr>
        <strong>Rob Colbert</strong><br />
        7208 Franklin Road<br />
        Cranberry Twp, PA 16066<br />
        (412) 760-7948<br />
        <br />
        email: <a href="mailto:rob.isConnected@gmail.com">rob.isConnected@gmail.com</a><br />
        phone: (412) 760-7948
      </addr>
    </p>

    <h3>Usage</h3>
    <p>
      I'll just keep it simple: If you're going to use this contact information,
      please: Make it worth your time. Okay? If it's not even worth your time,
      then how the fuck is going to be worth <em>my</em> time?
    </p>
  </div>
  <div class="clearfix"></div>
</div>
