<div class="container-fluid">
  <div class="footer-wrap">

    <div class="brand">
      <a href="https://twitter.com/search?q=%23OccupyNodejs">#OccupyNodejs</a>
    </div>

    <div class="message"
        ng-bind-html="message.content"
        >
    </div>

    <div class="pull-right" ng-show="session.authenticated.status">
      <div class="icon"
           title="Message Inbox"
           ng-click="clickInbox()"
           >
        <span class="icon glyphicon glyphicon-envelope"></span>
        <span class="badge">{{session.user.inboxCount}}</span>
      </div>

      <div class="icon"
           title="Friends"
           ng-click="clickFriends()"
           >
        <span class="icon glyphicon glyphicon-user"></span>
        <span class="badge">{{session.user.friends.onlineCount}}</span>
      </div>

      <div class="icon">
        <a href="/#/settings"
          title="Pulsar Settings"
          >
          <span class="glyphicon glyphicon-cog"></span>
        </a>
      </div>
    </div>

  </div>
</div>
