<div class="container-fluid">
  <div class="footer-wrap">

    <div class="brand">PULSAR</div>
    <div class="message"
         ng-bind-html="message.content"
         >
    </div>

    <div class="pull-right"
         title="Message Inbox"
         ng-click="clickInbox()"
         ng-show="user.session.authenticated"
         >
      <span class="icon glyphicon glyphicon-envelope"></span>
      <span class="badge">{{user.session.inbox.count}}</span>
    </div>

    <div class="pull-right"
         title="Friends"
         ng-click="clickFriends()"
         ng-show="user.session.authenticated"
         >
      <span class="icon glyphicon glyphicon-user"></span>
      <span class="badge">{{user.session.friends.onlineCount}}</span>
    </div>

    <!-- spacer -->
    <div class="pull-right"><div class="icon"></div></div>

    <div class="pull-right"
         title="Pulsar Settings"
         ng-click="clickSettings()"
         ng-show="user.session.authenticated"
         >
      <span class="glyphicon glyphicon-cog"></span>
    </div>
  </div>
</div>
