<div class="resume">
  <div class="text-center">
    <h1>ROB COLBERT</h1>
    <p>
      <strong>7208 Franklin Road, Cranberry Twp, PA 16066</strong><br />
      412-760-7948 | <a href="mailto:rob.isConnected@gmail.com">rob.isConnected@gmail.com</a> | <a href="http://robcolbert.com/">http://robcolbert.com/</a>
    </p>
  </div>

  <h2>SUMMARY</h2>

  <div class="section summary">
    <p class="text-justify">
      This version of my resume is hosted on Pulsar, my personal Content
      Management System project. I built Pulsar using the
      <a href="http://mean.io/" target="_blank">MEAN stack</a>. And, I want
      to continue using MEAN to build cutting-edge, creative, web-based
      applications that meet today&rsquo;s most challenging business needs
      and objectives.
    </p>
    <p class="text-justify">
      I am also avaialble as a consultant to help you put Pulsar to work
      solving the tough challenges of making your web site actually do what
      you want it to do. If you'd like a custom feature built for Pulsar,
      would like help configuring it for massive scale or have some other
      need or idea, please get in touch!
    </p>
  </div>

  <h2>WORK EXPERIENCE</h2>

  <div class="section experience">
    <div class="header">
      <div class="title">Senior Web Developer</div>
      <div class="row">
        <div class="col-sm-4">SciQuest, Inc.</div>
        <div class="col-sm-4 text-center">Pittsburgh, PA</div>
        <div class="col-sm-4 text-right">Nov, 2013 - Feb, 2014</div>
      </div>
    </div>
    <p class="text-justify">
      Initially brought in to contribute to a Perl-based enterprise sourcing
      application. Was asked to replace outdated back-end charting component
      with HTML5 front-end component powered by Kendo UI, Web and DataVis.
      Was then asked to prototype a new reporting tool. For the prototype, I
      selected the MEAN stack so a two-person team could answer questions
      within six weeks.
    </p>
    <p class="text-justify">
      Literally the entire office went into shock and assumed this technology
      stack was going to be, "Shoved down their throats," even though they had
      been told by me and management that this is just a prototype. The
      problems and effects associated with people who make bad assumptions and
      then don't listen continued to ripple throughout the project as a form of
      drag in having to over-explain everything to everyone every day in defense
      of...a prototype.
    </p>
    <p class="text-justify">
      So, I finished the prototype as I had committed...and immediately resigned.
      With<em>out</em> notice. Because, once it became clear that SciQuest
      couldn&rsquo;t manage or support the changes they were requesting and that
      the approved approach I was to take to build a prototype of that change
      meant a large degree of potential stress and problems for the people there.
    </p>
    <p class="text-justify">
      After being told I had, "Detractors," by a co-worker for being too
      progressive and asking people to learn something, I decided this was simply
      not the right enviornment (again) and left. Again, I left <em>without</em>
      notice. I did <em>not</em> give them a single chance to convince me to stay
      and there is no way they knew I was resigning. I felt a swift end was best.
      A mercy kill of sorts.
    </p>
    <p>
      Sick of it. You have no idea how selective I'm being after this. I will
      go <strong>HOMELESS</strong> before I work in another inappropriate
      environment again.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Application Developer</div>
      <div class="row">
        <div class="col-sm-4">BundlesOf, Inc.</div>
        <div class="col-sm-4 text-center">San Francisco, CA</div>
        <div class="col-sm-4 text-right">Jul, 2013 - Oct, 2013</div>
      </div>
    </div>
    <p class="text-justify">
      Remote work contract taking BundlesOf from a pre-launch idea to a launched
      web site. Built a custom HTML5/CSS3/JavaScript front end using Bootstrap
      and jQuery/jQuery UI; created the proprietary back-end application using
      LAMP stack and Tonic SDK to deliver a RESTful set of services that define
      the BundlesOf platform.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Application Developer</div>
      <div class="row">
        <div class="col-sm-4">NoWait, Inc.</div>
        <div class="col-sm-4 text-center">Pittsburgh, PA</div>
        <div class="col-sm-4 text-right">Feb, 2013 - Jun, 2013</div>
      </div>
    </div>
    <p class="text-justify">
      Three-month contract providing a variety of solutions to a variety of
      problems at NoWait. Helped implement scalability (service was running on
      a single server prior), optimized MySQL database, built a JMeter-based
      load testing environment that runs on Amazon EC2 and an HTML5 portal for
      consolidating and reporting test results.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Online Auctions Architect</div>
      <div class="row">
        <div class="col-sm-4">MyWurld, Inc.</div>
        <div class="col-sm-4 text-center">San Diego, CA</div>
        <div class="col-sm-4 text-right">Oct, 2012 - Jan, 2013</div>
      </div>
    </div>
    <p class="text-justify">
      Two-month contract to build MyWurld&rsquo;s all-new online auction
      platform. Used Linux, Apache, MySQL, Memcache, PHP, HTML5, CSS3,
      JavaScript, jQuery, jQuery UI and Bootstrap to build a full-stack
      solution (from scratch) including a user registration and seller account
      management system, auction listing service, bidding system, photo upload
      and image processing solution. Built as a single-page, API-driven site
      allowing for future expansion, development of content-rich widgets,
      etc.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Applications Architect</div>
      <div class="row">
        <div class="col-sm-4">Google, Inc.</div>
        <div class="col-sm-4 text-center">Mountain View, CA</div>
        <div class="col-sm-4 text-right">Jun, 2012 - Sep, 2012</div>
      </div>
    </div>
    <p class="text-justify">
      Worked as a contractor on assignment through eTouch Systems, Inc., on
      the AppMaker team. Providing current capability analysis, application
      completeness analysis, feedback and suggestions to the core AppMaker
      team. Also using AppMaker itself to build applications used internally
      within Google to streamline certain business procedures and practices.
      Using HTML5, CSS3, JavaScript, jQuery, jQuery UI and a proprietary
      client-side widget and data-binding API (in JavaScript) to build
      full-stack applications with AppMaker as a rapid application development
      and prototyping framework and application hosting solution built atop
      AppEngine.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Senior Member Technical Staff</div>
      <div class="row">
        <div class="col-sm-4">VMware, Inc.</div>
        <div class="col-sm-4 text-center">Palo Alto, CA</div>
        <div class="col-sm-4 text-right">Sep, 2011 - Feb 2012</div>
      </div>
    </div>
    <p class="text-justify">
      Designed and built the HTML5/CSS3/JavaScript client and C++ Win32
      compiled desktop agent as well as back-end Java-based Web services for
      AppBlast, an application remoting technology. Today, AppBlast requires
      nothing but an HTML5-compliant browser client to connect to a Windows
      host, run applications on it and interact with them using only a
      RESTful API (no Flash or WebSockets).
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Programmer</div>
      <div class="row">
        <div class="col-sm-4">Rivet Games, Inc.</div>
        <div class="col-sm-4 text-center">San Francisco, CA</div>
        <div class="col-sm-4 text-right">Nov. 2010 - Apr. 2011</div>
      </div>
    </div>
    <p class="text-justify">
      Used Adobe Flash Builder/FLEX, Action Script 3, Java and PHP to extend
      Rivet's social games development framework user interface capabilities.
      Improved development productivity, implemented back-end services and
      designed/built an automated load testing solution in support of
      <a href="http://apps.facebook.com/pettales/">Pet Tales</a> on Facebook.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Senior Online Software Engineer</div>
      <div class="row">
        <div class="col-sm-4"><a href="http://2ksports.com/">2K Sports</a></div>
        <div class="col-sm-4 text-center">Novato, CA</div>
        <div class="col-sm-4 text-right">Mar. 2010 - Oct. 2010</div>
      </div>
    </div>
    <p class="text-justify">
      C++ was used to build high-performance network relay servers. The relay
      server was built to provide a solution for peer-to-peer network
      connectivity problems in 2K Sports games related to NAT traversal and
      consumer bandwidth limitations.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Sole Proprietor/Hobby</div>
      <div class="row">
        <div class="col-sm-4">The Code Cabin</div>
        <div class="col-sm-4 text-center">Walnut Creek, CA</div>
        <div class="col-sm-4 text-right">Apr. 2009 - Apr. 2010</div>
      </div>
    </div>
    <p class="text-justify">
      Never meant to be a sustaining source of income, The Code Cabin was
      created as a hobby while experimenting with iOS application development
      in a low-risk environment.&nbsp;This was a great learning experience as
      my first adventure into mobile applications development. It isn't dead,
      I just never renewed my developer account once I achieved the goal of
      publishing a couple of apps.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Senior Online Programmer</div>
      <div class="row">
        <div class="col-sm-4"><a href="http://darkspore.com/">EA/Maxis</a></div>
        <div class="col-sm-4 text-center">Emeryville, CA</div>
        <div class="col-sm-4 text-right">Feb. 2009 - Feb. 2010</div>
      </div>
    </div>
    <p class="text-justify">
      Responsible for architecting, implementing and integrating a very
      comprehensive online gaming platform for Darkspore including
      micro-transactions, lobby, matchmaking, scoring, and a host of content
      services to support the game&rsquo;s needs. HTML/CSS/JavaScript used
      to build and deliver game&rsquo;s entire in-game menuing system by
      integrating the Chromium browser and v8 JavaScript engine.
    </p>
    <p class="text-justify">
      Also architected and delivered the game&rsquo;s dedicated server in C++,
      enabling the game team as well as the online team to contribute toward
      the development of the game&rsquo;s logic and server-side simulation.
      Analyzed and recommended many technologies for use, then performed the
      work necessary to integrate them into an effective solution that
      successfully met the game's requirements.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Lead Programmer</div>
      <div class="row">
        <div class="col-sm-4"><a href="http://www.breakawaygames.com/serious-games/solutions/healthcare/">BreakAway Games, Ltd</a>.</div>
        <div class="col-sm-4 text-center">Corpus Christi, TX</div>
        <div class="col-sm-4 text-right">Dec. 2007 - Jan. 2009</div>
      </div>
    </div>
    <p class="text-justify">
      Lead programmer on the Pulse!! project being developed by BreakAway
      Games for Texas A&amp;M University-Corpus Christi. Designed and developed
      a new suite of content creation and management tools as well as
      corresponding engine enhancements that brought the Pulse!! learning
      platform to its next level of maturity. This included the Pulse!!
      Framework, a .NET foundation written in managed C++ upon which a suite of
      Windows Forms C# applications were built, and an implementation of a
      smoothed particle hydrodynamics simulation with an optimized dynamic
      isosurface generator written in C++ and parallelized with OpenMP.
    </p>
    <p class="text-justify">
      Lead the programming team in the creation of a battlefield training exercise
      simulator developed for the United States Army. Also supported the National
      Simulation Center in the development of a specialized crycothyrotomy training
      simulation as the first external developer to use the Pulse!! engine and the
      newly developed Pulse!! IDE.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">MLB/Online Lead Programmer</div>
      <div class="row">
        <div class="col-sm-4"><a href="http://www.metacritic.com/game/playstation-2/mlb-06-the-show">Sony Computer Entertainment of America</a></div>
        <div class="col-sm-4 text-center">San Diego, CA</div>
        <div class="col-sm-4 text-right">May. 2005 - Nov. 2007</div>
      </div>
    </div>
    <p class="text-justify">
      Designed, developed, deployed and supported SportsConnect, an online gaming
      platform consisting of high-performance C++ Unix daemons, Oracle/PHP/Apache
      Web services and a cross-platform client SDK that runs on Win32, Linux, PS2,
      PSP and PS3. Designed and implemented all online screens for MLB 06 and 07
      (and most of 08) on PS2, PSP and PS3.
    </p>
    <p class="text-justify">
      Built game admin tools used by SCEA Online Support, enabling them to function
      independently. This helped drive the successful growth of the MLB online gaming
      community by over 5,000%.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Online Games Integration Lead</div>
      <div class="row">
        <div class="col-sm-4"><a href="http://www.metacritic.com/game/playstation-2/socom-ii-us-navy-seals">Sony Computer Entertainment of America</a></div>
        <div class="col-sm-4 text-center">San Diego, CA</div>
        <div class="col-sm-4 text-right">Aug. 2003 - May. 2005</div>
      </div>
    </div>
    <p class="text-justify">
      Contributed to the design, implementation, testing, release and production
      support of numerous first-party online games. Designed and implemented protocol
      and bandwidth analyzers used in diagnosing and resolving complex online gaming
      SDK integration problems for a variety of titles in a variety of genres;
      Engineered new technologies (wrapper SDKs, GUI integration tools, etc.) to ease
      the integration of a complicated online gaming SDK into diverse online gaming
      code bases. These tools shortened initial integration times from months down to
      weeks.
    </p>
    <p class="text-justify">
      Consulted with several titles, refining proposed feature sets into feasible
      solutions given the technologies at our disposal, delivering some of the most
      compelling online gaming experiences possible on PlayStation gaming systems.
      Assisted in the completion of online features for Gran Turismo and built their
      Rally server; also collaborated on the development of PSP hotspot authentication
      and Web browsing features.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">System Test Lead Engineer</div>
      <div class="row">
        <div class="col-sm-4">Cisco Systems, Inc.</div>
        <div class="col-sm-4 text-center">San Jose, CA</div>
        <div class="col-sm-4 text-right">Mar. 2000 - Oct. 2002</div>
      </div>
    </div>
    <p class="text-justify">
      Originally hired by Netiverse, Inc., joined Cisco Systems by way of acquisition.
      Created the Distributed Automated Regression and Negative Test (DARANT) software
      suite, a TCL-scripted farm of proprietary servers capable of emulating cities'
      worth of network traffic for the purpose of testing Cisco's highest-capacity
      network switches, routers and load balancers. It was used primarily for the
      testing the Content Switching Module (CSM), a Layer 7 content aware switch
      developed as a module for the Catalyst 6000 product line.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Lead Programmer</div>
      <div class="row">
        <div class="col-sm-4">Infogrames</div>
        <div class="col-sm-4 text-center">San Jose, CA</div>
        <div class="col-sm-4 text-right">Aug. 1998 - Oct. 2000</div>
      </div>
    </div>
    <p class="text-justify">
      Lead Programmer, Test Drive: Cycles (Windows); programmer Slave Zero (Win32) and
      Test Drive Off-Road 3 (PS and Win32). Created the FRAMEWERK SDK, a cross-platform
      scripted user interface library way before it was popular to have cross-platform,
      scripted user interfaces. Participated in DirectSound design sessions in Redmond,
      WA. Created a compressed streaming audio library to solve CD-ROM disc space
      issues for Slave Zero.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Online Programmer</div>
      <div class="row">
        <div class="col-sm-4">MicroProse Software</div>
        <div class="col-sm-4 text-center">Hunt Valley, MD</div>
        <div class="col-sm-4 text-right">Mar. 1997 - Aug. 1998</div>
      </div>
    </div>
    <p class="text-justify">
      Designed and implemented ManaLink, the online play solution for Magic: The
      Gathering. This involved putting Magic: The Gathering into a competitive arena
      where thousands of players could play duel after duel for online score, rank and
      bragging rights on the Total Entertainment Network (TEN). Magic: The Gathering
      had more concurrent online players on the Total Entertainment Network than
      Quake.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Programmer</div>
      <div class="row">
        <div class="col-sm-4">Abalone Entertainment Software Development</div>
        <div class="col-sm-4 text-center">Fremont, CA</div>
        <div class="col-sm-4 text-right">Apr. 1996 - Mar. 1997</div>
      </div>
    </div>
    <p class="text-justify">
      As a rare programmer with Windows 95 and DirectX experience (at the time),
      I was contracted by Virgin Interactive to work on-site at Abalone. My role
      was to guide and assist the Golden Nugget development team in their porting
      of Golden Nugget from DOS to Windows prior to its initial shipment. I designed
      and implemented a video playback engine for the game, assisted with game play
      and AI programming and handled technical issues related to the Win32 and
      DirectX 1.0 SDKs.
    </p>
  </div>

  <div class="section experience">
    <div class="header">
      <div class="title">Programmer</div>
      <div class="row">
        <div class="col-sm-4">Straffan Production Company, Ltd.</div>
        <div class="col-sm-4 text-center">Pittsburgh, PA</div>
        <div class="col-sm-4 text-right">Apr. 1994 - Apr. 1996</div>
      </div>
    </div>
    <p class="text-justify">
      Straffan was a small start-up game development company founded in Pittsburgh,
      Pennsylvania, to develop educational and casual games for children. I was the
      only programmer at Straffan, working with two artists, one designer and
      subject matter experts including Mary Bruder of Chatham College on titles like
      Grammar Class for Windows 95 and Bolz! for DOS and Windows 95.
    </p>
  </div>

  <h2>SKILLS</h2>

  <div class="section skills">
    <p>
      <strong>Roles:</strong><br />
      Architect, Programmer, Manager.
    </p>
    <p>
      <strong>Languages:</strong><br />
      JavaScript, SQL, PHP, [C, C++, C# and Objective-C], Java, Lua, ActionScript 3,
      TCL.
    </p>
    <p>
      <strong>Markup:</strong><br />
      HTML, CSS, XML, XSLT.
    </p>
    <p>
      <strong>Frameworks and SDKs:</strong><br />
      AngularJS, ExpressJS, MongooseJS, Underscore.js, Node.js, MongoDB Aggregation
      Framework, Flash, Flex, jQuery and jQuery UI, .NET, Zend, MFC, iPhone 3.1.2,
      Gamebryo, OGRE, PhysX, Cell (PS3), OpenGL, OpenAL, DirectX, Ogg/Vorbis, GNOME
      (GTK), KDE/Qt, wxWidgets.
    </p>
    <p>
      <strong>Targets:</strong><br />
      Linux (<strike>LAMP</strike> now prefers MEAN), v8/Node.js, JVM/JRE, Flash,
      Win32, iPhone OS, PlayStation (1, 2, 3 and Portable), J2ME (MIDP/CLDC), Oracle
      RDBMS.
    </p>
    <p>
      <strong>Tools:</strong><br />
      Grunt, Bower, Yeoman, node-inspector (debugger), git, svn, csv, p4,
      FlexBuilder, SlickEdit, Visual Studio 2010, Xcode 3.1.4, vi and a Makefile,
      rpm, yum, apt-get, aptitude, npm.
    </p>
  </div>

  <h2>EDUCATION</h2>
  <div class="section education">
    <p>
      <strong>Community College of Allegheny County &nbsp;&nbsp;Pittsburgh, PA</strong><br />
      ASCS, Computer Science.
    </p>
    <p>
      <strong>
        Carnegie Mellon University Advanced Placement/Early Admission
        Program &nbsp;Pittsburgh, PA
      </strong><br />
      Earned six college credits between my junior and senior years of high
      school as one of two students accepted to the program from the state of
      Pennsylvania.
    </p>
    <p>
      <strong>Sto-Rox Senior High School &nbsp;McKees Rocks, PA</strong><br />
      Graduated Class of 1991.
    </p>
  </div>

  <p style="text-align: center;">
    References available upon request.<br />
    <a href="http://www.linkedin.com/in/robcolbert">http://www.linkedin.com/in/robcolbert</a>
  </p>

</div>
