<section>
  <div class="pulsar-widget">
    <h1>PULSAR-ONE</h1>
    <p class="text-justify lead">
      Pulsar is a cross between a Content Management System and an application development platform. It helps people create and communicate. PULSAR-ONE is Rob Colbert's personal Pulsar instance. Anyone is welcomed to create a profile and take the service out for a test drive.
    </p>
    <div class="cta-button-container text-center">
      <a href="/#/signup"
         class="btn btn-default btn-lg cta-button"
         >
        Create Profile
      </a>
    </div>
  </div><!-- jumbotron -->
</section>

<section>
  <div class="content paddingv-xl">
    <h2>Pulsar Helps People Create and Communicate</h2>
    <p>
      Pulsar is deceptively simple by design, and it's getting simpler by the day with every iteration as the project continues to evolve from a prototype/collection of experiments to a formally defined application. It's an easy yet very technologically advanced way to manage your stuff online, keep in touch with and share with those who matter most to you and even develop an application that does whatever you need it to do.
    </p>
    <p>
      Starting with Pulsar Composer, Pulsar gives you an inplace editor that lets you see exactly what your pulses are going to look like when you publish them. There is absolutely no difference between what a Pulse will look like in Composer and what it will look like as a published Pulse. They are simply the same thing.
    </p>
    <p>
      Pulsar makes use of <a href="http://ckeditor.com/" title="Learn more">CKEditor</a>, an advanced HTML5 editor written in JavaScript. CKEditor has a plugin API that Pulsar uses to provide custom elements and other features. CKEditor together with Pulsar's extensions to it are what are known as Pulsar Composer. The goal is to help you achieve better results, better-looking posts and a more usable site by helping you focus on your message more than your HTML and CSS.
    </p>
  </div>
</section>

<section style="background-image:url('images/bg/section-bg-virus-syndicate.jpg');">
  <div class="content paddingv-lg">
    <h2>What's the Wildest Thing Pulsar Currently Does?</h2>
    <p class="lead">
      This is not the SoundCloud widget - it's Pulsar's Starlight audio player widget. It uses the SoundCloud API to stream MP3 audio data directly into a custom audio engine configured by Pulsar to create an advanced HTML5/WebGL/Canvas presentation. Learn more after the player on this page...
    </p>
    <p>
      Using Pulsar Composer, simply put the cursor where you want the sound to be inserted, click the SoundCloud button in the toolbar, copy and paste the URL of any sound on SoundCloud from the browser address bar and publish the pulse. The result looks and behaves like this:
    </p>

    <pulsar:soundcloud-player
      data-sound-url="https://soundcloud.com/edm/sick-wid-it-by-virus-syndicate"
      data-starlight-message="Virus Syndicate"
      ng-controller="PulsarSoundCloudPlayerCtrl"
      ></pulsar:soundcloud-player>

    <p class="help-block" style="margin-top:16px;">
      This widget requires
      <a href="http://google.com/chrome">Google Chrome</a> for the best experience. Your mileage may vary in different browsers, mobile, etc. This is a demonstration of just how far Pulsar can push a browser today. Last I checked, yes, it works on Android in Chrome including the WebGL fullscreen visualizer if your hardware supports it. If you havent, yet, press play and then press the "Fullscreen" button in Google Chrome.
    </p>

</section>

<section>
  <div class="content paddingv-xl">
    <h2>Who Should Use Pulsar?</h2>
    <p>
      Modern bloggers, music producers, film and video producers, talk show hosts, DJs and MCs and pretty much anyone out there with something to say who know the web can do more and want it <em>should</em> already be looking at Pulsar. This is that chance you'll have to shape an emerging technology.
    </p>

    <div class="cta-button-container text-center">
      <a href="/#/signup"
         class="btn btn-default btn-lg cta-button"
         >
        Get Started Now
      </a>
    </div>
  </div>
</section>

<script type="text/javascript">
  var container = $('.jumbotron');
  var button = $('.cta-button');
  container.hover(
    function ( ) { button.addClass('hover'); },
    function ( ) { button.removeClass('hover'); }
  );
</script>
