<div ng-show="!ready">
  <h1>Loading Protype Experience...</h1>
</div>

<div ng-show="cp &gt; 22000 && cp &lt; 66000" style="position:relative;">
  <img class="img img-responsive" src="images/prototype/earth-space-001.jpg"
        style="width:100%;"/>
  <div style="overflow:hidden; position:absolute; top:0; right:0; bottom:0; left:0;">
    <img id="waveformImage"
        ng-src="{{currentSound.waveform_url}}"
        style="width:8192px; height:100%; position:absolute;"
        />
  </div>
</div>

<h1 ng-show="cp &gt; 44000 && cp &lt; 66000"
  style="margin:32px 0; font-size:80px; line-height:1em; color:red; text-align:center;"
  >WELCOME TO PULSAR!</h1>

<div id="introContainer" ng-show="ready && (cp &lt; 11000)">
  <h1>Pulsar SoundCloud Integration Prototype</h1>
  <p>
    I'll keep it brief for now. Plenty of opportunity to elaborate as your
    interest evolves. When you're ready to experience something new, press play
    on the SoundCloud player below.
  </p>
</div>

<div class="jumbotron" ng-show="(cp &gt;= 66000 && cp &lt; 110000) || (cp &gt;= 132200)">
  <div style="padding-bottom:16px; border-bottom:solid 4px #e0e0e0;">

    <div class="pull-right"
         style="width:300px; margin-bottom:24px; padding:16px; background-color:#e8e8e8; border-radius:16px; box-shadow:0 0 8px rgba(0,0,0,0.7) inset;"
         ng-show="cp &gt; 132200"
      >

      <div class="text-center" ng-show="cp &lt; 154344">
        <div style="float:left;"><span class="glyphicon glyphicon-arrow-down"></span></div>
        <div style="float:right;"><span class="glyphicon glyphicon-arrow-down"></span></div>
        No Facebooks
      </div>

      <div class="text-center" ng-show="(cp &gt;= 154344) && (cp &lt; 176400)">
        <div style="float:left;"><span class="glyphicon glyphicon-arrow-down"></span></div>
        <div style="float:right;"><span class="glyphicon glyphicon-arrow-down"></span></div>
        It's The Facebook!!
      </div>

      <p ng-show="cp &gt;= 132200 && cp &lt; 137837">
        Did Kanye West just punk my demo? Did that just happen? I mean... what is going on o_O?
      </p>

      <p ng-show="cp &gt;= 137837 && cp &lt; 143313">
        That outburst aside, we're at that point in the song where you're probably thinking...
        hrmmm....
      </p>

      <p ng-show="cp &gt;= 143313 && cp &lt; 154344">
        ...this is an artist I'd like to actually worship. I'm ready for committment. If only
        there was a way to easily like them on Facebook...
      </p>

      <div class="text-center" ng-show="cp &gt;= 154344">
        <div style="position:relative;">
          <div class="fb-like-box"
              data-href="https://www.facebook.com/THEPROTOTYPES"
              data-colorscheme="dark"
              data-show-faces="true"
              data-header="false"
              data-stream="false"
              data-show-border="false"
              style="position:relative;"
              ></div>
          <img class="img img-rounded pull-right"
               src="images/prototype/zuckerberg.jpg"
               style="position:absolute; top:8px; right:6px; width:90px;"
               ng-show="(cp &gt;= 159500) && (cp &lt; 176400)"
               />
        </div>
        <div class="clearfix"></div>

        <div ng-show="cp &lt; 176400">
          <div style="float:left;"><span class="glyphicon glyphicon-arrow-up"></span></div>
          <div style="float:right;"><span class="glyphicon glyphicon-arrow-up"></span></div>
          How to for worship the Musics
          <div class="clearfix"></div>
        </div>

      </div>
    </div>
    <h1>{{currentSound.title}}</h1>
    <div class="clearfix"></div>
  </div>

  <div class="prototype">
    <div class="meta-label">
      {{currentSound.genre}}
    </div>
    <div class="meta-label">
      <span class="glyphicon glyphicon-play"></span>{{currentSound.playback_count}}
    </div>
    <div class="meta-label">
      <span class="glyphicon glyphicon-thumbs-up"></span>{{currentSound.likes_count}}
    </div>
    <div class="meta-label" ng-show="currentSound.downloadable">
      <span class="glyphicon glyphicon-download"></span>{{currentSound.download_count}}
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- p class="text-center" ng-show="currentSound.downloadable">
    <span class="glyphicon glyphicon-gift"></span>
    <a ng-href="{{currentSound.download_url}}">FREE DOWNLOADABLE SOUND</a>
  </p>

  <p class="text-center" ng-show="currentSound.purchase_title.length > 0">
    <span class="glyphicon glyphicon-"></span>
    <a ng-href="{{currentSound.purchase_url}}">{{currentSound.purchase_title}}</a>
  </p -->

</div>

<div class="text-center"
     style="margin:32px 0; min-height:240px;"
     ng-show="cp &gt;= 66100 && cp &lt;= 88200"
  >
  <h1 style="font-size:3.2em;">
    <span ng-show="cp &lt; (71666 + (millsPerBeat * 8))">THE DROP!!!</span>
    <small ng-show="(cp &gt; 71666) && (cp &lt; (71666 + (millsPerBeat * 8)))">
      <br />get it? (le sigh)...
    </small>
    <small ng-show="(cp &gt; (71666 + (millsPerBeat * 8))) && (cp &lt; (71666 + (millsPerBeat * 16)))">
      The SoundCloud player actually "dropped" lower on the page?
    </small>
    <small ng-show="(cp &gt; (71666 + (millsPerBeat * 16))) && (cp &lt; (71666 + (millsPerBeat * 24)))">
      No? Nothing? Try harder, you say? &gt;T_T&lt; [okay!]
    </small>
    <small ng-show="cp &gt; (71666 + (millsPerBeat * 24))">
      But, I mean damn... These prompts are <strong>on beat</strong>.<br />
      Think... think...
    </small>
  </h1>
  <p ng-show="cp &lt; 71666">
    It's okay if you just fainted &amp; shit, because <em>this</em> is fucking
    <strong>intense</strong>.
  </p>
</div>

<div class="text-center"
     style="margin:32px 0; min-height:240px;"
     ng-show="cp &gt;= 88139 && cp &lt; 110000"
  >
  <p ng-show="(cp &lt; (88139 + (millsPerBeat * 8)))">listen closely.</p>
  <p ng-show="(cp &gt;= (88139 + (millsPerBeat * 8))) && (cp &lt; (88139 + (millsPerBeat * 24)))"> do you hear that little thing revving up?</p>
  <p ng-show="(cp &gt;= (88139 + (millsPerBeat * 16))) && (cp &lt; (88139 + (millsPerBeat * 24)))">
    <span > Good! That's my little friend...</span>
  </p>

  <div class="text-center"
    ng-show="(cp &gt;= (88139 + (millsPerBeat * 24))) && (cp &lt; (88139 + (millsPerBeat * 40)))"
    style="width:40%; margin:0 auto;"
    >
    <img class="img img-rounded pull-left" src="images/prototype/zuckerberg.jpg" style="margin-right:16px;" />
    <p class="text-align:right; margin-top:32px;">
      yup...we're gonna roll with <em>this</em> creepy bastard for a minute.
    </p>
    <div class="clearfix"></div>
  </div>

  <h1 ng-show="(cp &gt;= (88139 + (millsPerBeat * 40))) && (cp &lt; 110000)" style="color:red;"
    >!! BRACE FOR ZUCKERBERG IMPACT !!</h1>

</div>

<div ng-show="cp &gt; 176000" style="margin:32px 0;">
  <h1 class="text-center" style="font-size:48px;">
    <span style="color:red;">PULSAR DISENGAGED</span><br />
  </h1>
  <h1>
    <small>
      The document-disruptive PULSAR real-time presentation engine has been disengaged, and this
      web page now works like any <em>other</em> web page with a SoundCloud embed: You
      may now read this article in peace. It doesn't "move" from here forward.<br />
      <br/>
      To return to any previous part of this performance,
      just click along the waveform in the SoundCloud player. PULSAR is still listening to
      information from the player, it just isn't doing anything with it if you can read this.
    </small>
  </h1>

  <h1 class="text-center">
    <small><strong>Can we give it up for the SoundCloud player and its Widget API, please?!!</strong></small>
  </h1>
</div>

<div id="playerContainer" ng-show="ready && !(cp &gt; 22000 && cp &lt; 55000)">
  <div style="position:relative;">
    <!-- iframe id="soundcloudPlayer" ng-init="attachToPlayer('soundcloudPlayer')" width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/112518042&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe -->
    <iframe id="soundcloudPlayer"
            width="100%"
            height="166"
            scrolling="no"
            frameborder="no"
            src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/135324268&amp;color=5F5F5F&amp;show_user=false&amp;hide_related=true&amp;show_comments=false&amp;buying=false&amp;show_artwork=false"
            ng-init="attachToPlayer('soundcloudPlayer')"
            >
    </iframe>
    <div class="text-center"
         style="position:absolute; top:0px; right:0; bottom:0; left:0; background-color:rgba(255,225,225,0.9); box-shadow:0 0 8px rgba(0,0,0,0.8) inset;"
         ng-show="cp &gt;= 8000 && cp &lt; 16000"
         >
      <div style="padding-top:20px; font-size:4.0em; font-weight:bold; color:red;">
        PULSAR L<span class="glyphicon glyphicon-screenshot" style="font-size:0.75em;"></span>CKED ON!
      </div>
      <p class="text-center">
        <strong>Pulsar now knows more about this sound than PRISM does.</strong><br />
        (shout out to the punk-ass sellouts employed @ usa://nsa/prism)
      </p>
    </div>
  </div>
  <div class="clearfix"></div>
</div>

<div ng-show="ready && (cp &lt; 1)">
  <p>
    No, really. If you don't press play in the player above, nothing else will
    happen on this page. Pulsar is waiting...
  </p>
</div>

<div ng-show="cp &gt; 176000" style="margin:32px 0;">
  <h1>Pulsar Prototype: SoundCloud Integration</h1>
  <p>
    I'm sure you probably feel like Ricky Bobby during his "ninjas on fire" episode on the
    race track, so thank you for putting up with that bit of mayhem. And, now, what really
    excites me (Rob) is that I'm absolutely <em>not</em> the person who's going to create the
    best experiences on Pulsar. Because that's up to you! I am best at writing the kind of code
    that makes things do stuff. And, well, the inventor of online "Poking" with an unexpected
    Kanye West moment was the best I could whip up for this. Just trying to get your attention
    and make a few points.
  </p>
  <p>
    Yes, there is much JavaScript code behind this web page. But, you don't need to know how to
    do anything more than maybe a little math to create experiences just like this one. And, to
    prove it, <a href="#/prototype/source">here's the actual HTML code</a> running on this page
    (right now).
  </p>

  <p>
    If you know HTML and CSS (I've used a LOT of inline CSS to show HOW things are being done),
    then all of that should make some sense. It's not a simple sample, and it should give folks
    plenty to discuss. I'm not really paying attention. No time, actually. In less than one week,
    I hope anyone will be able to create Pulses that are this integrated with embedded SoundCloud
    and YouTube player content.
  </p>
  <p>
    This is a next-generation blog post. Period. If your blog doesn't turn your posts into
    interactive stories, please ask yourself why you're still stuck in yesterday.
  </p>
</div>

<div ng-show="(cp &gt;= 110000) && (cp &lt; 132200)" style="margin:32px 0;">
  <h1>An Unexpected Moment of Kanye</h1>
  <div class="pull-left" style="width:150px; margin-right:16px; margin-bottom:16px;">
    <img class="img img-rounded" src="images/prototype/kanye-west.jpg"
         style="box-shadow:4px 4px 8px rgba(0,0,0,0.3);"/>
  </div>
  <p>
    Yo, Zuckerberg. I'mm'a letchu finish. But, first, we gotta talk about this Pulsar
    bidness a minute, aight? I snuck into this between
    the player and that numbers shit below because I'm Kanye, bitch. And Pulsar is the
    muh-fukkin' bidness, son.
  </p>
  <p ng-show="cp &gt; 121368">
    I ain't neva seen a web page do some shit like this befo. My <strong>record
      label</strong> doesn't even bring it like this. Get this on my fan page, or I'm on
    Pulsar tomorrow, Mark. You hear me, Mark?!!! TOMORROW.
  </p>
  <p ng-show="cp &gt; 126900">
    Peace,<br />
    Kanye out...
  </p>
  </div>
  <div class="clearfix"></div>
</div>

<p ng-show="cp &gt;= 514000">{{currentSound.description}}</p>

<p ng-show="cp &gt;= 2500 && cp &lt; 5350">
    <code>pulsar.attachToMedia('soundcloudPlayer');</code>
</p>

<div class="row" ng-show="cp &gt;= 5350">
  <div class="col-sm-4">
    <strong>currentTime</strong><br />
    {{playProgress.currentTime.h}}:{{playProgress.currentTime.m}}:{{playProgress.currentTime.s}}
  </div>
  <div class="col-sm-4">
    <strong>relativePosition</strong><br />
    {{playProgress.relativePosition}}
  </div>
  <div class="col-sm-4">
    <strong>currentPosition</strong><br />
    {{playProgress.currentPosition}}
  </div>
</div>

<div ng-show="cp &gt; 176000" style="margin:32px 0;">
  <h2>Wait... How the ?</h2>
  <p>
    Okay, this isn't all that complicated. The SoundCloud player that anyone can embed
    in any web page anywhere exposes a JavaScript API. PULSAR simply uses that API to
    retrieve information about tracks on SoundCloud inside an AngularJS controller.
    Then, it provides a whole new HTML5 experience by leveraging the information exposed
    by SoundCloud to web programmers.
  </p>
  <p>
    AngularJS extends the HTML language with a whole new suite of elements, attributes
    and more that are intended to finally bring HTML up to par with modern web application
    design and development. By leveraging exactly these features along some clean best
    practices, I've been able to quickly and easily integrate <strong>all</strong> of the
    SoundCloud Widget API with AngularJS.
  </p>
  <p>
    The end result: Your HTML can actually respond to a piece of media playing on the
    page using AngularJS directives such as ng-show, ng-click, ng-src and more. Have a
    read of the source code for this page. You will be quite shocked to see just how
    simple it really was to build this experience on Pulsar.
  </p>

  <h1>Availability</h1>

  <p>
    Please understand: I am just getting started. This project is four weeks old, and
    two of them were spent having ideas on paper. Pulsar is being built on the MEAN
    stack. If that causes hosting challenges for you, realize I can host this for you.
    And, the whole project will soon be open sourced under the MIT license with a
    genuine "dowhatchalike" policy. I've been very focused on achieving these goals
    with the software, and I genuinely just haven't taken the time to finish the
    documentation and get it online, yet. I'm working on it.
  </p>

  <h1>Repeating the Call for Help</h1>

  <p>
    I've given up on trying to find programmers and a UX designers to help. Just
    biting the UX bullet and doing my best while waiting for others to develop an
    interest. In the MEANtime, I'm just going to sit here and keep plugging away at
    my pace while creating new experiences that shocase what this software can do.
  </p>
  <p>
    I would, however, have more time to do things like finish documentation and get
    this project up to github if I had some basic help. I just need people creating
    experiences at this point. But, for now, I'm doing this entirely on my own. Just
    know it's not by choice. I've asked for help. I just haven't received any
    responses and I'm not gonna sit here &amp; beg. I don't need to. It'll get done.
    Eventually. I can't afford to pay a salary (at all) and wouldn't work for free,
    either. So...
  </p>
    I either don't know the right place to ask for help, I don't know how to
    correctly ask for help, or this is a bad idea and people just don't want to help.
    All three of those are acceptable outcomes, because I am having fun with this
    and don't honestly care. I truly just don't think I give a flying rat's ass
    anymore.
  </p>
  <p>
    I'll leave this here:<br />
    <strong>If people want to get involved, that's awesome.</strong>
  </p>

  <h1>Conclusion of Prototype Experience</h1>

  <p>
    Thanks again for viewing this experience. It was a true pleasure to create this.
    Now, I can't wait to finish the timeline-based editor for these :)
  </p>
  <p>
    I hit every goal in the creation of this prototype that I set out for the project.
    I wanted it to be visually dynamic, as interactive as possible (pause, rewind and
    fast-forward a WEB PAGE), and you simply have no fucking clue what I'm going to be
    hitting you with next. Because that's how I want it. People have to <em>join</em>
    this team to see into its future. And, until it's released, I'm sorry you're still
    stuck in yesterday, and I'm working as quick as I can to send help.
  </p>
  <p>
    Best regards,<br />
    -Rob &lt;<a href="mailto:rob.isConnected@gmail.com">rob.isConnected@gmail.com</a>&gt;
  </p>

  <hr />

  <img src="images/prototype/obama-liar-poster.jpg"
       alt="President Obama: LIAR"
       style="float:right; width:20%; margin-left:16px; margin-bottom:16px;"
       />
  <h1>President Obama</h1>
  <p>
    I'm also just going to leave this here as a reminder that the population of the
    United States of America is not currently being represented by its own elected
    leadership. That leadership is now completely off the rails. And, we're trying to
    get things back under control. It's a big problem...
  </p>
  <p>
    But, we're right there with you. This President has <em>got</em> to go along with
    his controllers. With all the hope and change this "man" sold us with his words, he
    stole that and more through his disgusting series of actions in office. We hate him
    more than you do. He lied to us <em>and</em> you. And, he did that because that is
    what he is paid to do by those who own him as a new-era slave.
  </p>
  <p>
    We also now have a defunct and limp Congress, Senate and Judicial Branch that have
    <em>all</em> been completely sold out to corporations and other highest bidders. Not
    a single one of them is worth minimum wage. They don't represent us. They only
    represent the interests of their controllers. And, no, those interests are in
    neither your nor our best interests. We are aware of that. We just don't know what
    to do because we don't want to burn down Washington D.C. We worked hard to achieve
    that. We'd like to see it restored, if possible. And, if not, then sure: Tear the
    motherfucker down. We'll build a new (better) one.
  </p>
  <p>
    Or, as I'd prefer to say it, "We can, like those before us, try. We can learn from
    this and do better this time."
  </p>
</div>

<!--
  The Facebook SDK is only ever loaded in this demo. Pulsar does not use
  "The Facebook" for anything relevant whatsoever.
-->
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=154736041394120";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>
