<form class="form" name="requestPasswordResetForm" ng-show="state !== 'success'">
  <div class="form-group">
    <label for="email" class="control-label">Email address</label>
    <input type="email" class="form-control" name="email" ng-model="request.email" />
  </div>
  <p class="help-block">
    Enter the email address you used when signing up for your profile here on
    Pulsar, then select the Request Password Reset button below.
  </p>
  <button class="btn btn-default" ng-click="requestPasswordReset(); $event.preventDefault();">Request Password Reset</button>
</form>

<div ng-show="state === 'success'">
  <h2>Check Your Email</h2>
  <p>
    An email has been sent to {{request.email}} with the details needed to reset
    your login password here on Pulsar. Please check your email and follow the
    included instructions to reset your password.
  </p>
</div>
