<h1>PULSAR SETTINGS</h1>

<p>
  Use this form to adjust the Pulsar system settings for your account. If you change your
  email address, a new verification email will be sent to confirm that email address as
  your new Pulsar email address and login ID. If that email is not confirmed within 24
  hours, all changes made to your account will revert. Be sure to check your inbox and spam
  folders for Pulsar messages to avoid unexpected changes to your settings.
</p>

<form role="form">
  <div class="row">
    <div class="col-sm-6">
      <fieldset>
        <legend>Pulsar User Identity</legend>
        <div class="form-group">
          <label for="signupEmail">Email address</label>
          <input type="email"
                  class="form-control"
                  id="signupEmail"
                  name="email"
                  placeholder="Enter email"
                  ng-model="user.email"
                  />
        </div>

        <div class="form-group">
          <label for="signupDisplayName">Display name</label>
          <input type="text"
                  class="form-control"
                  id="signupDisplayName"
                  name="displayName"
                  placeholder="Enter display name (ex: Rob Colbert)"
                  ng-model="user.displayName"
                  />
        </div>
      </fieldset>
    </div>

    <div class="col-sm-6">
      <fieldset>
        <legend>Login Password</legend>

        <div class="form-group">
          <label for="signupPassword">Password</label>
          <input type="password"
                  class="form-control"
                  id="signupPassword"
                  name="password"
                  placeholder="Enter password"
                  ng-model="user.password"
                  ng-change="checkPasswords()"
                  />
          <span class="help-block">{{passwordStrengthLabel}}</span>
        </div>

        <div class="form-group">
          <label for="signupPasswordVerify">Verify password</label>
          <input type="password"
                  class="form-control"
                  id="signupPasswordVerify"
                  placeholder="Repeat password"
                  ng-model="passwordVerify"
                  ng-change="checkPasswords()"
                  />
          <span class="help-block">{{passwordMatchResult}}</span>
        </div>
      </fieldset>
    </div>
  </div>

  <fieldset>
    <legend>Publishing Defaults</legend>

    <p>
      Content visibility settings are used to control who can see the things you share
      on Pulsar. On Pulsar, you can post things privately (only you can see them), share
      with friends or with the public. Public is truly public. Anyone with a link to your
      post, pulse or other Pulsar content in any content channel will be able to view and
      interact with it if posted publicly.
    </p>

    <div class="form-group">
      <div class="col-sm-6">
        <label for="pulseVisibility">Pulse visibility</label>
        <select class="form-control"
                ng-model="user.settings.defaults.pulses.visibility"
                id="pulseVisibility"
                ng-options="option.value as option.name group by option.type for option in visibilityOptions">
        </select>
      </div>
    </div>

  </fieldset>

  <fieldset>
    <legend>Notification Settings</legend>

    <p>
      Pulsar can send email notifications to the email address provided above. We
      also occasionally send "The Pulse" site news emails to our registered users who
      have opted to receive them here. These are informative, are never sent more than
      once per week and generally intended to be useful. Please consider enabling The
      Pulse to get the most out of Pulsar now and in the future as we continue to
      grow and improve this service.
    </p>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <div class="checkbox" title="Receive comments on your pulses as email messages">
            <label>
              <input type="checkbox" ng-model="user.settings.flags.email.pulseComments" />
              Pulse comments
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <p class="help-block">
          Receive notifications when someone comments on a pulse you created.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <div class="checkbox" title="Receive direct messages from others as email messages">
            <label>
              <input type="checkbox" ng-model="user.settings.flags.email.conversations" />
              Conversation messages
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <p class="help-block">
          Receive notifications when you receive a new message in any ongoing conversation.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <div class="checkbox" title="Infrequent site updates and announcements (zero spam)">
            <label>
              <input type="checkbox" ng-model="user.settings.flags.email.siteNews" />
              Starpulse transmissions
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <p class="help-block">
          Starpulse is the Pulsar community newsletter. As major new features are
          finished and other news happens in the Pulsar online community, we'll let
          you know.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <div class="checkbox" title="Desktop notification support">
            <label>
              <input type="checkbox"
                    ng-change="onDesktopNotificationsChange()"
                    ng-model="user.settings.flags.desktopNotifications.enabled" />
              Desktop notifications
            </label>
          </div>
        </div>
      </div>
      <div class="col-sm-8">
        <p class="help-block">
          Pulsar desktop notifications free you from having to keep the Pulsar window
          open at all times. If you enable desktop notifications and grant Pulsar
          permission, it can display system notifications from Pulsar on your desktop
          while the Pulsar browser tab/window is minimized.
        </p>
      </div>
    </div>

  </fieldset>

  <p>
    <button class="btn btn-primary btn-lg" ng-click="save()">Save Settings</button>
  </p>

</form>
