<div>
  <p>
    <img class="img-responsive"
          src="images/pulsar-profile.jpg"
          title="Rob Colbert <rob.isConnected@gmail.com>" />
  </p>
</div>

<div ng-controller="ThoughtsCtrl">
  <div class="heading">
    <button class="btn btn-default btn-xs pull-right"
            ng-show="user.session.authenticated"
            ng-click="showComposer = !showComposer"
            style="margin-right:16px; margin-top:4px;"
            >+</button>
    Pulses</h4>
  </div>
  <div ng-show="showComposer">
    <div class="form-group">
      <textarea class="form-control"
                placeholder="Enter thought"
                ng-model="newThought.thought"
                >
      </textarea>
    </div>
    <button class="btn btn-primary" ng-click="postThought()">Post Thought</button>
  </div>
  <div ng-include="'views/thoughts.html'"></div>
</div>
