<h1 ng-show="!isComplete">Create New Pulsar Account</h1>
<p ng-show="!isComplete">
  Thanks for taking Pulsar out for a test drive. Your feedback is appreciated.
  Just be aware that Pulsar is still in early days. Things like a full database
  resets are still possible as this software is still in very heavy early
  development. Do not (yet) use this service for any serious work.
</p>

<div class="alert alert-danger" ng-show="haveError">
  <h2>This Just Happened</h2>
  <p ng-bind-html="errorMessage"></p>
  <p ng-repeat="error in errorData.errors">
    <strong>{{error.message}}</strong><br />
    path:<strong>{{error.path}}</strong> type:<strong>{{error.type}}</strong>
  </p>
  <p ng-show="bugReported">
    And, the developers of Pulsar want you to know we're already aware of
    it. Because if you can see this, it also got reported to us by Pulsar
    itself. Thanks for helping us find it!
  </p>
</div>

<form ng-show="!isComplete">

  <div class="row">
    <div class="col-sm-6">
      <fieldset>
        <legend>Pulsar User Identity</legend>
        <div class="form-group">
          <label for="signupEmail">Email address</label>
          <input type="email"
                class="form-control"
                id="signupEmail"
                name="email"
                placeholder="Enter email"
                ng-model="user.email"
                >
        </div>

        <div class="form-group">
          <label for="signupDisplayName">Display name</label>
          <input type="text"
                class="form-control"
                id="signupDisplayName"
                name="displayName"
                placeholder="Enter display name (ex: Rob Colbert)"
                ng-model="user.displayName"
                >
        </div>
      </fieldset>
    </div>

    <div class="col-sm-6">
      <fieldset>
        <legend>Login Password</legend>

        <div class="form-group">
          <label for="signupPassword">Password</label>
          <input type="password"
                class="form-control"
                id="signupPassword"
                name="password"
                placeholder="Enter password"
                ng-model="user.password"
                ng-change="checkPasswords()"
                >
          <span class="help-block">{{passwordStrengthLabel}}</span>
        </div>

        <div class="form-group">
          <label for="signupPasswordVerify">Verify password</label>
          <input type="password"
                class="form-control"
                id="signupPasswordVerify"
                placeholder="Repeat password"
                ng-model="passwordVerify"
                ng-change="checkPasswords()">
          <span class="help-block">{{passwordMatchResult}}</span>
        </div>
      </fieldset>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-default btn-lg" ng-click="createAccount()">
        <img src="favicon.ico" alt="Pulsar Favicon" style="position:relative;top:-2px;"/> Create Account
      </button>
    </div>
  </div>

</form>

<h2 ng-show="isComplete">Account Created Successfully</h2>
<p ng-show="isComplete">
  An email has maybe been sent to {{user.email}} Please check both your inbox and spam
  folder for an email from Pulsar asking you to verify your email address. You can
  not post content here until you verify your email address.
</p>
