<h1 ng-show="!isComplete">New Profile</h1>

<div class="alert alert-danger" ng-show="haveError">
  <h2>This Just Happened</h2>
  <p ng-bind-html="errorMessage"></p>
  <p ng-repeat="error in errorData.errors">
    <strong>{{error.message}}</strong><br />
    path:<strong>{{error.path}}</strong> type:<strong>{{error.type}}</strong>
  </p>
  <p ng-show="bugReported">
    And, the developers of Pulsar want you to know we're already aware of
    it. Because if you can see this, it also got reported to us by Pulsar
    itself. Thanks for helping us find it!
  </p>
</div>

<form ng-show="!isComplete">

  <div class="row">
    <div class="col-sm-6">
      <fieldset>
        <legend>Identity</legend>
        <div class="form-group">
          <label for="signupEmail">Email address</label>
          <input type="email"
                class="form-control"
                id="signupEmail"
                name="email"
                placeholder="Enter email address"
                ng-model="user.email"
                >
        </div>
        <div class="form-group">
          <label for="signupDisplayName">Display name</label>
          <input type="text"
                class="form-control"
                id="signupDisplayName"
                name="displayName"
                placeholder="Enter display name (ex: Rob Colbert)"
                ng-model="user.displayName"
                >
        </div>
      </fieldset>
    </div>

    <div class="col-sm-6">
      <fieldset>
        <legend>Password</legend>
        <div class="form-group">
          <label for="signupPassword">Password</label>
          <input type="password"
                class="form-control"
                id="signupPassword"
                name="password"
                placeholder="Enter password"
                ng-model="user.password"
                ng-change="checkPasswords()"
                >
          <span class="help-block">{{passwordStrengthLabel}}</span>
        </div>

        <div class="form-group">
          <label for="signupPasswordVerify">Verify password</label>
          <input type="password"
                class="form-control"
                id="signupPasswordVerify"
                placeholder="Repeat password"
                ng-model="passwordVerify"
                ng-change="checkPasswords()">
          <span class="help-block">{{passwordMatchResult}}</span>
        </div>
      </fieldset>
    </div>
  </div>

  <div style="margin-top:16px;">
    <button class="btn btn-default btn-lg" ng-click="createAccount()">
      <img src="favicon.ico" alt="Pulsar Favicon" style="position:relative;top:-2px;"/> Create Profile
    </button>
  </div>
</form>

<h2 ng-show="isComplete">Profile Created Successfully</h2>
<p ng-show="isComplete">
  An email has maybe been sent to {{user.email}} Please check both your inbox and spam
  folder for an email from Pulsar asking you to verify your email address. You can
  not post content here until you verify your email address.
</p>
