<h1>Verifying Email Address Token</h1>
<p ng-show="percentComplete === 100">
  I will absolutely admit, the Java side definitely <em>felt</em> more important
  and official. That's for sure. The Node.js side, on the other hand, has simply
  been sitting there, done doing its work. That doesn't feel anywhere near as big,
  important or expensive. So, in a lot of IT shops, Java wins and JavaScript on
  Node.js is dismissed as a toy.
</p>
<p ng-show="percentComplete === 100">
  And, no, I didn't stand up some J2EE Struts Hibernate JSP container forest of
  bullshit, I simulated that side of the display. But, you know you've seen that
  shit before. You've waited. Patiently. And, it worked. But, at what total overall
  cost?
</p>
<div class="row">
  <div class="col-sm-6">
    <h2>Java</h2>
    <div class="progress progress-striped active" ng-show="percentComplete < 100">
      <div class="progress-bar"
          role="progressbar"
          aria-valuenow="{{percentComplete}}"
          aria-valuemin="0"
          aria-valuemax="100"
          style="width: {{percentComplete}}%">
        <span >{{percentComplete}}% Complete</span>
      </div>
    </div>
    <p class="help-block" ng-bind-html="statusMessage"></p>
    <button class="btn btn-primary btn-lg"
            ng-show="showLoginButton"
            ng-click="showLoginModal()"
            >Login</button>
  </div>
  <div class="col-sm-6">
    <h2>JavaScript on Node.js</h2>
    <p class="help-block" ng-bind-html="nodeStatusMessage"></p>
    <button class="btn btn-primary btn-lg"
            ng-show="showLoginButton"
            ng-click="showLoginModal()"
            >Login</button>
  </div>
</div>
