<div ng-repeat="video in videos">
  <h2>{{video.title}}</h2>
  <p ng-bind-html="video.description"></p>

  <div class="video-container" ng-switch on="video.type">

    <div class="video-player" ng-switch-when="hosted">
      <video src="{{video.url}}" controls style="width:100%;"></video>
    </div>

    <div ng-switch-when="youtube">
      <div class="video-player">
        <div id="{{video.videoId}}">
          <p>You can't view YouTube videos and that's not a surprise.</p>
        </div>
      </div>
    </div>

  </div>

  <div class="row-fluid" ng-if="video.type === 'youtube'">

    <!-- conditional button based on video.state -->
    <button class="col-xs-2 btn btn-standard" ng-if="video.state !== 1" ng-click="playVideo(video.videoId)"><span class="glyphicon glyphicon-play"></span></button>
    <button class="col-xs-2 btn btn-standard" ng-if="video.state === 1" ng-click="pauseVideo(video.videoId)"><span class="glyphicon glyphicon-pause"></span></button>
    <div class="col-xs-2 text-center"><small>state:</small><br />{{video.stateLabel}}</div>
    <div class="col-xs-2 text-center"><small>time:</small><br />{{video.currentTime}}</div>
    <div class="col-xs-2 text-center"><small>duration:</small><br />{{video.duration}}</div>
    <div class="col-xs-2 text-center"><small>played:</small><br />{{video.playedFraction}}</div>
    <div class="col-xs-2 text-center"><small>loaded:</small><br />{{video.loadedFraction}}</div>
    <div class="clearfix"></div>
  </div>

</div>

<div style="margin-top:30px; padding-top:10px; border-top:solid 1px #e8e8e8;">
  <small>
    <p>
      This page features Pulsar's custom YouTube video player. It directly
      interfaces with and leverages the entire YouTube &lt;iframe&gt; API to
      render YouTube embeds directly into the view. AngularJS methods are used
      to control the video and update the view's model in real time as the
      videos are playing.
    </p>
    <p>
      When creating a post with YouTube embeds, it is literally impossible for
      them to not be the right size, play when asked, etc., unless you're
      having a problem beyond this application (network connection failed). And,
      that's because videos go into the Videos content channel of Pulsar. A
      "video" <em>is</em> a post. There is no difference. You just choose the
      location of the video embed, provide Pulsar the videoId value from YouTube
      (or paste a link) and Pulsar directly and correctly embeds the video using
      whatever latest/greatest technology Google gives the world to do this.
    </p>
    <p>
      Or...you know. Whatever's next. YouTube videos are an extension. So are
      SoundCloud tracks and playlists. Actually, everything is. You prefer Vine
      or Vimeo? Guess which extensions I'm building next? Right. There ya
      go. Here's a tissue. It's gonna be okay. Stop crying. Oh, come on. Stop
      crying. It's gonna be okay. Life didn't have to suck. And, the good news
      is: Life isn't going to suck anymore.
    </p>
    <h4>Welcome to Pulsar</h4>
  </small>
</p>

<script src="https://www.youtube.com/iframe_api" type="text/javascript"></script>
