@import url(http://fonts.googleapis.com/css?family=Share+Tech);

@import url(http://fonts.googleapis.com/css?family=Duru+Sans);

@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic);

body {
  padding: 50px 0 0 0;
}

textarea {
  resize: vertical;
}

.header {
  border-bottom: 1px solid #f8f8f8;
}

.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.content-section {
  margin: 16px 0;
}

.post {
  margin-bottom: 64px;
}

.post .header {
  display: block;
  margin-bottom: 32px;
}

.post .header .title {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 36px;
}

.post .header .byline {
  display: block;
  padding: 8px 0;
  font-size: 18px;
}

.post .body .content {
  display: block;
  font-size: 14px;
}

.post .body .comment {
  margin-bottom: 20px;
}

.comments {
  max-height: 300px;
  overflow: auto;
  border-top: solid 1px #f8f8f8;
  border-bottom: solid 1px #f8f8f8;
}

.comment {
  margin-bottom: 1.75em;
}

.comment .header {
  padding-right: 0;
  padding-left: 0;
  margin-bottom: 2px;
  border-bottom: none;
}

.comment .header .posted {
  font-size: 10px;
}

.comment .header .author {
  font-weight: bold;
}

.comment .body {
  font-size: 12px;
}

.resume,
.resume h1,
.resume h2,
.resume h3,
.resume h4,
.resume h5,
.resume h6,
.resume div,
.resume p {
  font-family: "Istok Web";
}

.resume,
.resume div,
.resume p {
  font-size: 16px;
}

.resume .section {
  padding-bottom: 0.5em;
  margin: 1.5em 0 1.5em 3em;
  font-family: "Istok Web";
}

.resume .section .header {
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  font-family: "Istok Web";
}

.resume .section .header .title {
  font-family: "Istok Web";
  font-weight: bold;
}

.video-container {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  margin-bottom: 16px;
  overflow: hidden;
}

.video-player {
  position: relative;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.footer {
  padding: 15px 0;
  color: #777;
  background-color: #f8f8f8;
  border-top: 1px solid #b8b8b8;
}

.footer .footer-wrap {
  padding: 0 15px;
}