<!DOCTYPE html>
<!--[if lt IE 7]>      <html ng-app="pulsarClientApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html ng-app="pulsarClientApp" class="no-js lt-ie9 lt-ie8">        <![endif]-->
<!--[if IE 8]>         <html ng-app="pulsarClientApp" class="no-js lt-ie9">               <![endif]-->
<!--[if gt IE 8]><!--> <html ng-app="pulsarClientApp" class="no-js">                      <!--<![endif]-->
  <head ng-controller="HeadCtrl">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title ng-bind="pageInformation.title + ' | ' + site.siteInformation.name"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/pulsar.css -->
    <link rel="stylesheet" href="styles/pulsar.css">
    <!-- endbuild -->
  </head>
  <body>

    <!-- The Facebook root div is here to support plugins that want to use it. -->
    <div id="fb-root"></div>

    <!--[if lt IE 7]>
    <p class="browsehappy">
      You are using an <strong>outdated</strong> browser.
      Please <a href="http://browsehappy.com/">upgrade your browser</a> to
      improve your experience.
    </p>
    <![endif]-->

    <div id="topBar" ng-include="'views/header.html'" ng-controller="HeaderCtrl"></div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="col-xs-12">
          <pulsar:service-error></pulsar:service-error>
        </div>
      </div>

      <div class="row-fluid">
        <div class="col-sm-8 col-lg-9 main-view"><div ng-view=""></div></div>
        <div class="col-sm-4 col-lg-3 sidebar"><ng-include src="'views/sidebar.html'"></ng-include></div>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="footer" ng-include="'views/footer.html'" ng-controller="FooterCtrl"></div>

    <div class="modal fade bs-example-modal-sm"
         id="userLoginModal"
         tabindex="-1"
         role="dialog"
         aria-labelledby="mySmallModalLabel"
         aria-hidden="true"
         ng-controller="AccountLoginCtrl">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">Account Login</h4>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger" ng-show="haveError">
              <div class="pull-right" ng-click="dismissError()" style="cursor:pointer;">
                <span class="glyphicon glyphicon-remove-circle"></span>
              </div>
              {{error.data.message}}
            </div>
            <div class="form-horizontal">
              <div class="form-group">
                <label class="col-sm-2 control-label" for="loginUsernameInput">Email</label>
                <div class="col-sm-10">
                  <input type="email" class="form-control" id="loginUsernameInput" ng-model="email">
                </div>
              </div>
              <div class="form-group">
                <label class="col-sm-2 control-label" for="loginPasswordInput">Password</label>
                <div class="col-sm-10">
                  <input type="password" class="form-control" id="loginPasswordInput" ng-model="password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-10 col-sm-offset-2">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" value="">
                        Remember me
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn btn-primary" ng-click="userLogin()">Login</button>
          </div>
        </div>
      </div>
    </div>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <script src="bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script src="bower_components/ace-builds/src-min-noconflict/theme-chrome.js"></script>
    <script src="bower_components/ckeditor/ckeditor.js"></script>

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-ace/ui-ace.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/momentjs/moment.js"></script>
    <script src="bower_components/ng-ckeditor/ng-ckeditor.js"></script>
    <script src="bower_components/threejs/build/three.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,fonts}) scripts/fonts.js -->
    <script src="assets/fonts/optimer/optimer_regular.typeface.js"></script>
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/threejs-objloader.js"></script>
    <script src="scripts/pulsar-fe.js"></script>

    <script src="scripts/services/configuration.js"></script>
    <script src="scripts/services/notifications.js"></script>
    <script src="scripts/services/presentation-engine.js"></script>
    <script src="scripts/services/pulse-wire.js"></script>
    <script src="scripts/services/pulses.js"></script>
    <script src="scripts/services/sessions.js"></script>
    <script src="scripts/services/sidebar-pulses.js"></script>
    <script src="scripts/services/site-settings.js"></script>
    <script src="scripts/services/sound-cloud.js"></script>
    <script src="scripts/services/users.js"></script>
    <script src="scripts/services/user-session.js"></script>
    <script src="scripts/services/videos.js"></script>
    <script src="scripts/services/web-audio.js"></script>

    <script src="scripts/controllers/about.js"></script>
    <script src="scripts/controllers/account-login.js"></script>
    <script src="scripts/controllers/admin.js"></script>
    <script src="scripts/controllers/announcements.js"></script>
    <script src="scripts/controllers/contact.js"></script>
    <script src="scripts/controllers/conversations.js"></script>
    <script src="scripts/controllers/directives/service-error-alert.js"></script>
    <script src="scripts/controllers/directives/soundcloud-player.js"></script>
    <script src="scripts/controllers/footer.js"></script>
    <script src="scripts/controllers/head.js"></script>
    <script src="scripts/controllers/header.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/moving-parts.js"></script>
    <script src="scripts/controllers/prototype/source.js"></script>
    <script src="scripts/controllers/prototype.js"></script>
    <script src="scripts/controllers/pulses/composer.js"></script>
    <script src="scripts/controllers/pulses/pulseId/edit.js"></script>
    <script src="scripts/controllers/pulses/reader.js"></script>
    <script src="scripts/controllers/pulses/studio.js"></script>
    <script src="scripts/controllers/pulses.js"></script>
    <script src="scripts/controllers/settings.js"></script>
    <script src="scripts/controllers/sidebar.js"></script>
    <script src="scripts/controllers/sidebar-pulses.js"></script>
    <script src="scripts/controllers/signup.js"></script>
    <script src="scripts/controllers/user/user-profile.js"></script>
    <script src="scripts/controllers/videos.js"></script>
    <script src="scripts/controllers/verify.js"></script>

    <script src="scripts/directives/micropulse.js"></script>
    <script src="scripts/directives/pulse-summary.js"></script>
    <script src="scripts/directives/service-error.js"></script>
    <script src="scripts/directives/soundcloud-player.js"></script>
    <script src="scripts/directives/youtube-player.js"></script>
    <script src="scripts/directives/pulse.js"></script>

    <script src="scripts/directives/visualizers/pulsar-default.js"></script>
    <!-- endbuild -->

    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="http://connect.soundcloud.com/sdk.js"></script>

    <!-- Twitter Widget API -->
    <script src="http://platform.twitter.com/widgets.js"
            async=""
            type="text/javascript"
            charset="utf-8"></script>

    <!-- SWFObject API because GoogleTube just won't let go -->
    <script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"
            type="text/javascript"
            charset="utf-8"></script>

    <script src="http://127.0.0.1:10010/socket.io/socket.io.js" type="text/javascript"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-6890824-26');
      ga('set', 'appName', 'Pulsar');
      ga('set', 'appVersion', '0.1.0');
    </script>

  </body>

</html>
