<div class="pulsar-widget">
  <div class="pulse">

    <div class="heading">
      <div class="heading-wrap">

        <input class="title" type="text"
               id="titleEditor"
               ng-model="pulse.title"
               ng-change="isDirty = true"
               placeholder="Enter pulse title"
               ></input>

        <div class="clearfix"></div>

        <div>
          <button class="btn btn-xs btn-danger pull-right"
                  style="margin-left:16px;"
                  title="Delete pulse..."
                  data-toggle="modal"
                  data-target="#pulseDeleteConfirmModal"
                  >
            <span class="glyphicon glyphicon-trash"></span> Delete
          </button>
          <button class="btn btn-xs btn-primary pull-right"
                  style="margin-left:16px;"
                  title="Save changes"
                  ng-disabled="!isDirty"
                  ng-click="updatePulse()"
                  >
            <span class="glyphicon glyphicon-floppy-save"></span> Save
          </button>

          <img src="favicon.ico" style="position:relative; top:-2px;"/> {{pulse._creator.displayName}} {{calendarMoment(pulse.created).toLowerCase()}}
          <div class="clearfix"></div>
        </div>

        <div class="clearfix"></div>

      </div>
    </div>

    <div class="alert alert-danger alert-dismissable" ng-show="haveError">
      <button type="button" class="close" ng-click="haveError = false;" aria-hidden="true">&times;</button>
      <strong>Danger!</strong> {{error.data.message}}
    </div>

    <div class="body">
      <div class="excerpt" id="excerptEditor"></div>
      <div class="content" id="contentEditor"></div>
      <div class="clearfix"></div>
    </div>

    <div class="heading">
      <div class="heading-wrap">
        <span class="glyphicon glyphicon-comment" style="font-size:0.8em;"></span> Comments
      </div>
    </div>

    <div class="comments" ng-switch on="pulse.interactions.comments.length">
      <div ng-switch-when="0">
        <p>No comments, yet. Share your thoughts and start the conversation.</p>
      </div>
      <div ng-switch-default="">
        <div class="comment" ng-repeat="comment in pulse.interactions.comments">
          <div class="header">
            <span class="author">{{comment._creator.displayName}}</span>
            <span class="created">{{fromNow(comment.created)}}</span>
          </div>
          <div class="body" ng-bind-html="comment.content"></div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

  </div><!-- pulse -->

</div><!-- pulsar-widget -->

  <div class="modal"
        id="pulseDeleteConfirmModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="deletePulseModalLabel"
        aria-hidden="true"
        >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="deletePulseModalLabel">Deleting "{{pulse.title}}"</h4>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" ng-show="haveError">
          <div class="pull-right" ng-click="dismissError()" style="cursor:pointer;">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </div>
        </div>
        <p class="lead">
          Your pulse named "{{pulse.title}}" is about to be lost forever. Is that okay?
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" ng-click="deletePulse()">
          <span class="glyphicon glyphicon-trash"></span> Delete
        </button>
      </div>
    </div>
  </div>
</div>
