<form role="form" class="form">
  <div class="form-group">
    <label for="pulseTitle">Pulse Title</label>
    <input class="form-control"
           id="pulseTitle"
           ng-model="pulse.title"
           placeholder="Enter pulse title/subject"
           />
  </div>

  <div class="form-group">
    <label for="pulseContent">Update Your Pulse</label>
    <textarea id="pulseContent"
              data-ui-tinymce="tinymceOptionsContent"
              data-ng-model="pulse.content"
              ></textarea>
  </div>

  <div class="form-group">
    <label for="pulseExcerpt">Update Your Excerpt</label>
    <textarea class="form-control"
              id="pulseExcerpt"
              name="pulseExcerpt"
              data-ui-tinymce="tinymceOptionsExcerpt"
              data-ng-model="pulse.excerpt"
              style="resize:vertical;"
              rows="4"
              placeholder="Enter a quick summary that appears in lists of pulses."
              ></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" ng-click="updatePulse()">Update</button>
  </div>

</form>

<div class="pulse">
  <div class="jumbotron">
    <h1 ng-bind-html="pulse.title"></h1>
    <p><img src="favicon.ico" style="position:relative; top:-2px;"/> {{pulse._creator.displayName}} {{calendarMoment(pulse.created).toLowerCase()}}</p>
  </div>
  <div class="body">
    <div class="excerpt" ng-bind-html="pulse.excerpt"></div>
    <div class="content" ng-bind-html="pulse.content"></div>
  </div>
  <h3>Comments</h3>
  <div ng-switch on="pulse.comments.length">
    <div ng-switch-when="0">
      <p>No comments, yet. Share your thoughts and start the conversation.</p>
    </div>
    <div ng-switch-default="">
      <div class="row comment" ng-repeat="comment in pulse.comments">
        <div class="header">
          <div class="col-sm-8 author">{{comment.author}}</div>
          <div class="col-sm-4 created">{{comment.created}}</div>
          <div class="clearfix"></div>
        </div>
        <div class="content col-sm-12">{{comment.content}}</div>
        <div class="clearfix"></div>
      </div>
    </div>
  </div>
</div>
