<div class="pulsar-widget">
  <div class="pulse">

    <div class="heading">
      <div class="heading-wrap">
        <input class="title" type="text"
               id="titleEditor"
               ng-model="pulse.title"
               ng-change="updatePageTitle()"
               placeholder="Enter pulse title"
               ></input>

        <button class="btn btn-xs btn-primary pull-right"
                style="margin-left:16px;"
                title="Save changes"
                ng-disabled="!isDirty"
                ng-click="createPulse()"
                >
          <span class="glyphicon glyphicon-floppy-save"></span> Publish
        </button>

        <img src="favicon.ico" style="position:relative; top:-2px;"/> {{session.user.displayName}} {{calendarMoment(pulse.created).toLowerCase()}}

        <div class="clearfix"></div>

      </div>
    </div>

    <div class="body">
      <div class="excerpt" id="excerptEditor"></div>
      <div class="content" id="contentEditor"></div>
      <div class="clearfix"></div>
    </div>

    <div class="heading">
      <div class="heading-wrap">
        <span class="glyphicon glyphicon-comment" style="font-size:0.8em;"></span> Comments
      </div>
    </div>

    <div class="comments" ng-switch on="pulse.interactions.comments.length">
      <div ng-switch-when="0">
        <p>No comments, yet. Share your thoughts and start the conversation.</p>
      </div>
      <div ng-switch-default="">
        <div class="comment" ng-repeat="comment in pulse.interactions.comments">
          <div class="header">
            <span class="author">{{comment._creator.displayName}}</span>
            <span class="created">{{fromNow(comment.created)}}</span>
          </div>
          <div class="body" ng-bind-html="comment.content"></div>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

  </div><!-- pulse -->

</div><!-- pulsar-widget -->
