<div class="pulsar-widget">
  <div class="pulse">

    <div class="heading">
      <div class="heading-wrap">
        <input class="title" type="text"
               id="titleEditor"
               ng-model="pulse.title"
               ng-change="isDirty = true"
               placeholder="Enter pulse title"
               ></input>
        <div class="clearfix"></div>
      </div>
    </div>

    <div class="body">
      <div class="excerpt" id="excerptEditor"
           ng-model="pulse.excerpt"
           ng-change="isDirty = true"
           data-editor-toolbar="basic"
           contenteditable></div>
      <div class="content" id="contentEditor"
           ng-model="pulse.content"
           ng-change="isDirty = true"
           data-editor-toolbar="full"
           contenteditable></div>
      <div class="clearfix"></div>
    </div>

    <form class="form form-inline" role="form" name="publishingControls" style="font-size: 18px;">
      <fieldset>
        <legend>Publishing Controls</legend>
        <div class="form-group">
          <label for="visibility">visibility</label>
          <select class="form-control input-sm" name="visibility" ng-change="isDirty = true" ng-model="pulse.visibility" ng-options="value.value as value.label for value in pulseVisibilityValues"></select>
        </div>
        <div class="form-group">
          <label for="status">status</label>
          <select class="form-control input-sm" name="status" ng-change="isDirty = true" ng-model="pulse.status" ng-options="status.value as status.label for status in pulseStatuses"></select>
        </div>
        <div class="form-group">
          <button class="btn btn-sm btn-primary"
                  title="Save changes"
                  ng-disabled="!isDirty"
                  ng-click="createPulse(); $event.preventDefault();"
                  >
            <span class="glyphicon glyphicon-floppy-save"></span> Save
          </button>
        </div>
      </fieldset>
    </form>

    <div class="clearfix"></div>

  </div><!-- pulse -->

</div><!-- pulsar-widget -->
