<h2>Pulsar Composer</h2>

<div class="alert alert-danger" ng-show="haveError">
  <div class="pull-right" style="margin-left:16px;" ng-click="haveError = false">
    <span class="glyphicon glyphicon-remove-circle"></span>
  </div>
  {{error.data.message}}
</div>

<form role="form" class="form">

  <div class="form-group">
    <label for="pulseTitle">Title</label>
    <input class="form-control"
           id="pulseTitle"
           ng-model="pulse.title"
           placeholder="Enter pulse title/subject"
           />
  </div>

  <div class="form-group">
    <label for="pulseExcerpt">Excerpt</label>
    <textarea id="pulseExcerpt" class="form-control"
              data-ui-tinymce="tinymceOptions"
              data-ng-model="pulse.excerpt"
              ></textarea>
  </div>

  <div class="form-group">
    <label for="pulseContent">Pulse Content</label>
    <textarea id="pulseContent"
              data-ui-tinymce="tinymceOptions"
              data-ng-model="pulse.content"
              ></textarea>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" ng-click="createPulse()">Publish</button>
  </div>
</form>

<div class="pulsar-widget">

  <div class="pulse">

    <div class="jumbotron">
      <h1 ng-bind-html="pulse.title"></h1>
      <p><img src="favicon.ico" style="position:relative; top:-2px;"/> {{user.displayName}} when you click Publish!</p>
    </div>

    <div class="body">
      <div class="excerpt" ng-bind-html="pulse.excerpt"></div>
      <div class="content" ng-bind-html="pulse.content"></div>
      <div class="clearfix"></div>
    </div>

    <div class="comments">
      <div class="heading">
        <div class="heading-wrap">
          <span class="glyphicon glyphicon-comment" style="font-size:0.8em;"></span> Comments
        </div>
      </div>
      <div ng-switch on="pulse.interactions.comments.length">
        <div ng-switch-when="0">
          <p>No comments, yet. Share your thoughts and start the conversation.</p>
        </div>
        <div ng-switch-default="">
          <div class="comment" ng-repeat="comment in pulse.interactions.comments">
            <div class="header">
              <span class="author">{{comment._creator.displayName}}</span>
              <span class="created">{{fromNow(comment.created)}}</span>
            </div>
            <div class="body" ng-bind-html="comment.content"></div>
          </div>
        </div>
      </div>
    </div><!-- comments -->

  </div><!-- pulse -->

</div><!-- pulsar-widget -->
