<h2>Coming Soon: Pulsar Studio</h2>
<p>
  Pulsar Studio, the hand-crafted tool Rob is using to create experiences like
  the <a href="/#/moving-parts">Moving Parts</a> demo, is still in heavy
  development. It still wears a helmet just to walk around. So, no, it isn't
  ready to come out and play in traffic just yet. As soon as it's ready, though,
  it'll be here on this page instead of this creepy ostrich:
</p>
<p>
  <img class="img img-rounded" src="images/soon.jpg" alt="SOON" style="width:100%;" />
</p>

<h3>About Pulsar Studio</h3>
<p>
  Pulsar Studio is a timeline-driven authoring tool that runs here in the browser
  and enables content creators to embed a key piece of media into a Pulse. Once
  embedded and tagged as the key media in the Pulse, creators can then synchronize
  presentation events to the media's current time as it plays/scrubs/seeks.
</p>
<p>
  Pulsar Studio intends to make the creation of highly interactive slide shows,
  entertainment and educational experiences incredibly easy and possibly even
  a degree of fun.
</p>
