<section class="pulsar-bottom-menu">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <h4>Quicklinks</h4>
        <ul class="reference-list" ng-show="session.authenticated.status">
          <li><a href="/#/user">You</a></li>
          <li><a href="/#/conversations">Conversations</a></li>
          <li><a href="/#/settings">Settings</a></li>
        </ul>
        <p class="help-block" ng-show="!session.authenticated.status">
          Please <a href="#" ng-click="showLoginModal(); $event.preventDefault();">login</a> or <a href="/#/signup">sign up</a> to access your Quicklinks.
        </p>
        <h4>Pulsar Services</h4>
        <ul class="reference-list" ng-show="session.authenticated.status">
          <li><a href="/#/pulses/composer">Composer</a></li>
          <li class="disabled"><a href="/#/pulses/studio">Studio</a></li>
        </ul>
        <p class="help-block" ng-show="!session.authenticated.status">
          Please <a href="#" ng-click="showLoginModal(); $event.preventDefault();">login</a> or <a href="/#/signup">sign up</a> to access Pulsar's online content sharing services.
        </p>
      </div>
      <div class="col-sm-4">
        <h4>Pages</h4>
        <ul class="reference-list">
          <li><a href="/#/about">About Pulsar</a></li>
          <li><a href="/#/contact">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-sm-4">
        <h4>Legal Information</h4>
        <ul class="reference-list">
          <li><a href="/#/privacy-policy">Privacy Policy</a></li>
          <li><a href="/#/terms-of-service">Terms of Service</a></li>
          <li><a href="" title="Learn more about the MIT license at the Open Source Initiative">MIT License</a></li>
        </ul>
        <p class="help-block small">
          site design: rob colbert<br />
          &copy; 2014 / MIT License
        </p>
      </div>
    </div>
  </div>
</section>
