<div class="pulsar-widget">
  <div class="pulse">
    <div class="created">
      <div class="pull-right"
           ng-show="pulse._creator._id === session.user._id"
           title="This is your pulse. Click the pulse's text to edit it."
           >
        <span class="glyphicon glyphicon-edit"></span>
      </div>
      <strong>{{dateAsMoment(pulse.created)}}</strong><br />
      <small>by: <strong>{{pulse._creator.displayName}}</strong></small>
    </div>
    <div class="body" ng-bind-html="pulse.content"></div>
  </div>
</div>
