<div class="pulsar-drawer">

  <div class="pulsar-widget">

    <div class="pulsar-dialog">

      <div class="heading">
        <div class="heading-wrap">
          <button class="btn btn-danger pull-right"
                  ng-click="closeAllErrors()"
                  >&times; close all</button>
          <div class="title">Pulsar API {{errors.length === 1 ? 'Error' : 'Errors'}}</div>
        </div>
      </div><!-- heading -->

      <div class="body">
        <div class="alert alert-danger" ng-repeat="record in errors">
          <button type="button" class="close" ng-click="closeError(record)" aria-hidden="true">&times;</button>
          <p class="lead"><strong>{{record.created}}</strong></p>
          <p ng-bind-html="record.error.data.message"></p>
          <p ng-repeat="error in record.error.data.errors">
            <span class="label label-danger">{{error.name}}</span> {{error.message}}
          </p>
          <div class="alert alert-info" ng-show="record.error.data.solutions.length > 0" style="margin-top:16px;">
            <h4>Solutions</h4>
            <p ng-repeat="solution in record.error.data.solutions">
              <span class="label label-info">{{solution.name}}</span> {{solution.message}}
            </p>
          </div>
        </div>

        <p class="help-block">
          The errors reported in this console are intended to help you
          understand what went wrong.
          The {{errors.length === 1 ? 'error has been' : 'errors have been'}}
          logged by Pulsar. If this error indicates a problem with Pulsar's
          configuration (or a bug), it will be addressed soon.
        </p>
      </div>

    </div><!-- pulsar-dialog -->

  </div><!-- pulsar-widget -->

</div><!-- pulsar-layer -->
