@import url(http://fonts.googleapis.com/css?family=Share+Tech);
@import url(http://fonts.googleapis.com/css?family=Duru+Sans);

@rjc-gray:      #f8f8f8;

body {
  padding: 50px 0 20px 0;
}

textarea {
  resize:vertical;
}

.header,
.content-section,
.footer {

}

.header {
  border-bottom: 1px solid @rjc-gray;
}

.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.content-section {
  margin: 16px 0;
}

.post {
  margin-bottom:64px;
}

.post .header {
  display:block;
  margin-bottom:32px;
}

.post .header .title {
  display:block;
  font-size:36px;
  margin:0;
  padding:0;
}
.post .header .title a {

}

.post .header .byline {
  display:block;
  font-size:18px;
  padding:8px 0;
}

.post .body {

}

.post .body .content {
  display:block;
  font-size:14px;
}
.post .body .comment {
  margin-bottom:20px;
}

.comments {
  max-height:300px;
  overflow:auto;
  border-top:solid 1px @rjc-gray;
  border-bottom:solid 1px @rjc-gray;
}

.comment {
  margin-bottom:1.75em;
}

.comment .header {
  padding-left:0;
  padding-right:0;
  margin-bottom:2px;
  border-bottom:none;
}
.comment .header .posted {
  font-size:10px;
}
.comment .header .author {
  font-weight:bold;
}
.comment .body {
  font-size:12px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  margin-bottom:16px;
  height: 0; overflow: hidden;
}
.video-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0; overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0; right:0; bottom:0; left:0;
  width: 100%;
  height: 100%;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid @rjc-gray;
}
