.pulse {
  font-size:12px;
  line-height:1.2em;
  margin-bottom:16px;
  .created {
    padding:6px 8px;
    background-color: darken(@rjc-gray, 60%);
    color:lighten(@rjc-gray, 5%);
  }
  .body {
    padding:8px;
    border-left:solid 1px darken(@rjc-gray, 60%);;
    border-right:solid 1px darken(@rjc-gray, 60%);;
    border-bottom:solid 1px darken(@rjc-gray, 60%);;
    color: darken(@rjc-gray, 60%);;
  }
}
